{% extends 'base.html.twig' %}

{# ✅ Ce bloc surcharge celui de base.html.twig pour ajouter ton propre CSS #}
{% block stylesheets %}
	{# ← Important pour ne pas supprimer les styles existants #}
	{{ parent() }}

	{# Ici, {{ parent() }} insère le contenu du bloc du base.html.twig, puis tu ajoutes ta propre feuille de style. #}
	<link
	rel="stylesheet" href="{{ asset('styles/home.css') }}">
{# <link rel="stylesheet" href="assets/styles/home.css">/ #}
{% endblock %}

{# {{ asset('...') }} est une fonction Twig très utilisée dans Symfony. Elle sert à générer le chemin complet vers un fichier situé dans le dossier public/, qui est la racine "visible" de ton site web. #}


{% block javascripts %}
	{{parent()}}
	<script src=" {{ asset('script/home.js') }} "></script>

{% endblock %}


{% block title %}
	home
{% endblock %}


{% block body %}

	{% if app.user and is_granted('ROLE_ADMIN') %}

		<P>TU ES ADMIN
		</P>
	{% endif %}


	{% if app.user %}


		<h2 class="text-2xl ">
			Bonjour
			{{ app.user.username}}
		</h2>

		{# <p>{{ dump(session.get('security_main')) }} </p>
										<p>{{ dump(session.all) }} </p> #}
		{{ app.request.query.get('page') }}

		<p>{{ app.request.query.get('page') }}
		</p>

	{% endif %}


	<div>
		<h3 class="text-3xl">
			fonction find()
		</h3>

		<div>

			<p>
				nom du produit :
				{{ oneProduit.nom}}
			</p>

		</div>


	</div>


	<div class="border m-auto text-center flex flex-col gap-20">
		<h3 class="text-2xl">Exemple de form pour la méthode find()</h3>

		<form action="{{ path('home') }}" method="POST" data-turbo="false">
			<input type="hidden" name="form" value="select_produit">
			<select name="produit" id="produit">
				{% if produits %}
					{% for produit in produits %}
						<option value="{{ produit.id }}">{{ produit.nom }}</option>
					{% endfor %}
				{% endif %}
			</select>
			<button class="btn btn-primary" type="submit">Rechercher</button>
		</form>

		{% if selectedProduit  %}
			<div class="card">
				<h2>Produit sélectionné :</h2>
				<ul>
					<li>
						<strong>Nom :</strong>
						{{ selectedProduit.nom }}</li>
					<li>
						<strong>Description :</strong>
						{{ selectedProduit.description }}</li>
					<li>
						<strong>Prix :</strong>
						{{ selectedProduit.prix }}
						€</li>
					{# <li>
											<strong>Stock :</strong>
											{{ selectedProduit.stock }}</li>
										<li> #}
					<strong>Catégorie :</strong>
					{{ selectedProduit.category.name }}</li>
			</ul>

			<div>
				<img src="{{ asset('images/' ~ selectedProduit.img) }}" alt="{{ selectedProduit.nom }}" style="width: 200px;">
			</div>
		</div>

	{% endif %}


	<div class="flex flex-wrap gap-5 w-full justify-center items-center">


		{% for index in produits %}

			<div class="  border p-5 bg-amber-200 w-60 ">
				<h3 class="text-3xl">
					titre :
					{{ index.nom }}
				</h3>

				<p>
					description :
					{{ index.description }}
				</p>

				<a class="text-center m-auto" href="{{ path('showProduitId', {'id': index.id}) }}">
					<img class=" w-56 " src=" {{ asset('images/produit_image/' ~ index.img  ) }} " alt="">


				</a>


				{% if index.stock < 3 and index.stock >0 %}
					<p>
						<strong class="text-red-500">
							achetez vite bientôt en rupture de stock !!!</strong>
						stock :
						{{ index.stock }}
					</p>
				{% elseif index.stock > 3 %}
					<p>
						<strong>
							stock :
						</strong>
						{{ index.stock }}
					</p>
				{% else %}
					<p>
						<strong class=" text-red-500 ">
							victime de son succès
						</strong>
						stock : 0
					</p>
				{% endif %}

				<form action=" {{ path('panier_ajouter', { id : index.id }  ) }} "method="GET"> 
				<label for=""  > Quantité : </label>
				<input type="number"
				       name="quantite"
				       id=" quantite_{{index.id}}"
				       value="0" 
					   min="1"
					   max="{{ index.stock }}"
					   class="w-16 border p-1"
					   >

					   <button type=submit  class="btn btn-success" >
					   Ajouter au panier
					   </button>
				  </form>

			</div>
		{% endfor %}


	</div>
{% endblock %}
{% block metaDescription %}

	{{parent()}}

	<meta name="description" content="page home">
{% endblock %}
